<!DOCTYPE html>
<html>
<head>
<title>마켓 주문목록</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<style>
</style>
</head>
<body>
<div class="w3-top" >
  <div class="w3-row w3-large w3-light-grey">
   <div class="w3-col s3">
      <a class="w3-button w3-block"  href = "/"  style = "color: black"><b>Flobot</b></a>
    </div>
    <div class="w3-col s3">
      <a class="w3-button w3-block" href="/market/marketInfo">내 마켓정보</a>
    </div>
    <div class="w3-col s3">
    	<a class="w3-button w3-block" href="/goods/goodsList">마켓 물품목록</a>
    </div>
    <div class="w3-col s3">
	  <a class="w3-button w3-block" href="/inquire/MarketInquireList">마켓 문의목록</a>
    </div>
  </div>
</div><br/><br/><br/><hr/>
<div align="center">
<table width="1200" >
	<tr align="center"><th>구분</th><th>주문번호</th><th>상품명</th><th>상품이미지</th><th>총 가격</th><th>구매갯수</th><th>결제일</th><th>문의목록</th><th>결제상태</th></tr>
	
	<tr th:each="vo, idx:${list}" align="center">
		<td>[[${idx.count}]]</td>
		<td>[[${vo.purchaseNum}]]</td>
		<td>[[${vo.goodsName}]]</td>
		<td width="100" ><img th:src="|/goods/image/${vo.goodsMain}|" width="100" /></td>
		<td>[[${vo.purchasePrice*vo.purchaseQty}]]</td>
		<td>[[${vo.purchaseQty}]]</td>
		<td>[[${vo.applDate}]]</td>
		<td><a th:href="|/inquire/MarketInquireList|">문의목록</a></td>
		<td>
		<span th:if="${vo.purchaseStatus == '결제대기중'}">[[${vo.purchaseStatus}]]</span>
		<span th:if="${vo.purchaseStatus == '결제완료'}">
		<div>
			<form action="deliveryUpdate">
				[[${vo.purchaseStatus}]] 송장번호 | 택배회사 <br />
				<input type="hidden" name="purchaseNum" th:value="${vo.purchaseNum}" />
				<input type="text" name="deliveryNum"  />
				<input type="text" name="deliveryCompany"  />
				<input type="submit" value="송장등록"  />
			</form>
		</div>
		</span>
		<span th:if="${vo.purchaseStatus == '배송 중'}">[[${vo.purchaseStatus}]]<a th:href="|/purchase/temp?purchaseNum=${vo.purchaseNum}|">완료(임시)</a></span>
		<span th:if="${vo.purchaseStatus == '배송완료'}">[[${vo.purchaseStatus}]]</span>
		<span th:if="${vo.purchaseStatus == '구매완료'}">[[${vo.purchaseStatus}]]</span>
		</td>
	</tr>
</table>
</div>

</body>
</html>