<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flobot.Mapper.GoodsMapper">
	<select id="goodsList" parameterType="string"  resultMap="GIPResultMap">
		select *
		from goods g left outer join(SELECT GOODS_NUM, SUM(IPGO_QTY) AS TOTAL_IPGO_QTY, MAX(GOODS_PRICE) AS GOODS_PRICE 
										FROM GOODS_IPGO 
										GROUP BY GOODS_NUM) i
		on g.goods_num = i.goods_num
		<if test="userNum!=null">
			where market_num = #{userNum}
		</if>
		order by g.goods_num desc
	</select>
	<resultMap type="goodsVO" id="goodsResultMap">
		<id column="GOODS_NUM" jdbcType="VARCHAR" property="goodsNum"/>
		<result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName"/>
		<result column="GOODS_CONTENT" jdbcType="VARCHAR" property="goodsContent"/>
		<result column="GOODS_MAIN" jdbcType="VARCHAR" property="goodsMain"/>
		<result column="GOODS_MAIN_ORG" jdbcType="VARCHAR" property="goodsMainOrg"/>
		<result column="GOODS_IMAGE" jdbcType="VARCHAR" property="goodsImage"/>
		<result column="GOODS_IMAGE_ORG" jdbcType="VARCHAR" property="goodsImageOrg"/>
		<result column="DELIVERY_COST" jdbcType="BIGINT" property="deliveryCost"/>
		<result column="MANUFACTURER" jdbcType="VARCHAR" property="manufacturer"/>
		<result column="VISIT_COUNT" jdbcType="BIGINT" property="visitCount"/>
		<result column="MARKET_NUM" jdbcType="VARCHAR" property="marketNum"/>
		<result column="GOODS_KIND" jdbcType="VARCHAR" property="goodsKind"/>
	</resultMap>
	<resultMap type="ipgoVO" id="goodsIpgoResultMap">
		<id column="GOODS_IPGO_NUM" jdbcType="VARCHAR" property="goodsIpgoNum"/>
		<id column="GOODS_NUM" jdbcType="VARCHAR" property="goodsNum"/>
		<result column="IPGO_QTY" jdbcType="BIGINT" property="ipgoQty"/>
		<result column="IPGO_DATE" jdbcType="DATE" property="ipgoDate"/>
		<result column="MADE_DATE" jdbcType="DATE" property="madeDate"/>
		<result column="GOODS_PRICE" jdbcType="BIGINT" property="goodsPrice"/>
		<result column="TOTAL_IPGO_QTY" jdbcType="BIGINT" property="totalIpgoQty"/>
		<result column="GOODS_PRICE" jdbcType="BIGINT" property="goodsPrice"/>
	</resultMap>
	<resultMap type="prpVO" id="prpResultMap">
		<id column="PRP_NUM" jdbcType="VARCHAR" property="prpNum"/>
		<result column="GOODS_NUM" jdbcType="VARCHAR" property="goodsNum"/>
		<result column="MEMBER_NUM" jdbcType="VARCHAR" property="memberNum"/>
		<result column="BRILLIANCE" jdbcType="BIGINT" property="brilliance"/>
		<result column="DELI_CHARGE" jdbcType="BIGINT" property="deliCharge"/>
		<result column="ROOT_YN" jdbcType="BIGINT" property="rootYn"/>
		<result column="FLESHY" jdbcType="BIGINT" property="flower"/>
		<result column="SEED" jdbcType="BIGINT" property="seed"/>
		<result column="TREE" jdbcType="BIGINT" property="herb"/>
		<result column="HERB" jdbcType="BIGINT" property="tree"/>
		<result column="FLOWER" jdbcType="BIGINT" property="fleshy"/>
	</resultMap>
	<resultMap type="GIPVO" id="GIPResultMap">
		<association property="ipgoVO"  javaType="ipgoVO" resultMap="goodsIpgoResultMap"/>
		<association property="goodsVO" javaType="goodsVO" resultMap="goodsResultMap"/>
		<association property="prpVO" javaType="prpVO" resultMap="prpResultMap"/>
	</resultMap>
	<select id ="goodsPrpList" parameterType="string" resultMap="GIPResultMap">
	select *
	from ( select g.GOODS_NUM, GOODS_NAME, GOODS_CONTENT, GOODS_MAIN, DELIVERY_COST, MANUFACTURER, VISIT_COUNT , MARKET_NUM , GOODS_KIND 
                    , i.TOTAL_IPGO_QTY, i.goods_price 
           from goods g left outer join(SELECT GOODS_NUM, SUM(IPGO_QTY) AS TOTAL_IPGO_QTY, MAX(GOODS_PRICE) AS GOODS_PRICE 
	                                    FROM GOODS_IPGO 
	                                    GROUP BY GOODS_NUM) i
	    on g.goods_num = i.goods_num) g join prp p 
	on g.goods_num = p.goods_num
	order by ((abs((select brilliance
            from prp p join member m
            on m.member_num = p.member_num
            where m.member_num = #{userNum})-p.brilliance)*0.4)+(abs((select deli_charge
            from prp p join member m
            on m.member_num = p.member_num
            where m.member_num = #{userNum})-p.deli_charge)*3)+(abs((select root_yn 
            from prp p join member m
            on m.member_num = p.member_num
            where m.member_num = #{userNum})-p.root_yn )*3)+(select count(*) as cnt
            from goods g join purchase_list l
            on g.goods_num = l.goods_num join (select * from purchase where member_num = #{userNum}) p
            on l.purchase_num = p.purchase_num
            where goods_kind='flower'
            group by goods_kind)*p.flower+NVL((select count(*) as cnt
            from goods g join purchase_list l
            on g.goods_num = l.goods_num join (select * from purchase where member_num = #{userNum}) p
            on l.purchase_num = p.purchase_num
            where goods_kind='fleshy'
            group by goods_kind),0)*p.fleshy+NVL((select count(*) as cnt
            from goods g join purchase_list l
            on g.goods_num = l.goods_num join (select * from purchase where member_num = #{userNum}) p
            on l.purchase_num = p.purchase_num
            where goods_kind='tree'
            group by goods_kind),0)*p.tree+NVL((select count(*) as cnt
            from goods g join purchase_list l
            on g.goods_num = l.goods_num join (select * from purchase where member_num = #{userNum}) p
            on l.purchase_num = p.purchase_num
            where goods_kind='herb'
            group by goods_kind),0)*p.herb+NVL((select count(*) as cnt
            from goods g join purchase_list l
            on g.goods_num = l.goods_num join (select * from purchase where member_num = #{userNum}) p
            on l.purchase_num = p.purchase_num
            where goods_kind='seed'
            group by goods_kind),0)*p.seed) desc
	</select>
	<insert id="goodsRegi" parameterType="goodsVO">
		insert into goods(GOODS_NUM, GOODS_NAME, GOODS_CONTENT, GOODS_MAIN, GOODS_MAIN_ORG, GOODS_IMAGE, GOODS_IMAGE_ORG
							, DELIVERY_COST, MANUFACTURER, VISIT_COUNT, MARKET_NUM, GOODS_KIND)
		values(#{goodsNum}, #{goodsName}, #{goodsContent}, #{goodsMain}, #{goodsMainOrg}, #{goodsImage}, #{goodsImageOrg}
				, #{deliveryCost}, #{manufacturer}, 0, #{marketNum}, #{goodsKind})
	</insert>
	<insert id="goodsPrpRegi" parameterType="prpVO">
		insert into prp(prp_num ,goods_Num, brilliance, deli_charge, root_yn,flower,seed,herb,tree,fleshy)
		values((select concat('prp00',nvl(max(substr(prp_num,6)),0)+ 1) from prp), #{goodsNum},#{brilliance} ,#{deliCharge},#{rootYn},#{flower},#{seed},#{herb},#{tree},#{fleshy})
	</insert>
	<select id="goodsCreateNum" resultType="string">
		select concat('goods',nvl(max(substr(goods_Num,6)),100000) + 1)
		from goods
	</select>
	<select id="goodsInfo" parameterType="string" resultType="goodsVO">
		select g.GOODS_NUM goodsNum, GOODS_NAME goodsName, GOODS_CONTENT goodsContent, GOODS_MAIN goodsMain, GOODS_MAIN_ORG goodsMainOrg
				, GOODS_IMAGE goodsImage, GOODS_IMAGE_ORG goodsImageOrg, DELIVERY_COST deliveryCost, MANUFACTURER manufacturer
				, VISIT_COUNT visitCount, MARKET_NUM marketNum, GOODS_KIND goodsKind
                , i.TOTAL_IPGO_QTY totalQty
		from goods g left outer join(SELECT GOODS_NUM, SUM(IPGO_QTY) AS TOTAL_IPGO_QTY FROM GOODS_IPGO GROUP BY GOODS_NUM ) i
		on g.goods_num = i.goods_num
		where g.goods_num=#{goodsNum}
	</select>
	<delete id="goodsDelete" parameterType="string">
		delete goods where goods_num = #{goodsNum}
	</delete>
	
	<delete id="marketDelete" parameterType="string">
		delete goods where market_Num = #{marketNum}
	</delete>
	
	<update id="goodsUpdate">
		update goods set GOODS_NAME=#{goodsName},GOODS_CONTENT=#{goodsContent}, GOODS_MAIN=#{goodsMain}, GOODS_MAIN_ORG=#{goodsMainOrg}
						, GOODS_IMAGE=#{goodsImage}, GOODS_IMAGE_ORG=#{goodsImageOrg}, DELIVERY_COST=#{deliveryCost}
						, MANUFACTURER=#{manufacturer}, GOODS_KIND=#{goodsKind}
		where goods_num=#{goodsNum}
	</update>
	
	<select id="goodsListselect" resultType="goodsVO" parameterType="string" >
	select g.GOODS_NUM goodsNum, GOODS_NAME goodsName, GOODS_CONTENT goodsContent, GOODS_MAIN goodsMain, GOODS_MAIN_ORG goodsMainOrg
				, GOODS_IMAGE goodsImage, GOODS_IMAGE_ORG goodsImageOrg, DELIVERY_COST deliveryCost, MANUFACTURER manufacturer
				, VISIT_COUNT visitCount, MARKET_NUM marketNum, GOODS_KIND goodsKind
                , i.TOTAL_IPGO_QTY totalQty, i.goods_price goodsPrice
               	, r.count reviewCount, r.avg reviewScore
		from goods g left outer join(SELECT GOODS_NUM, SUM(IPGO_QTY) AS TOTAL_IPGO_QTY, MAX(GOODS_PRICE) AS GOODS_PRICE 
										FROM GOODS_IPGO 
										GROUP BY GOODS_NUM) i
		on g.goods_num = i.goods_num left outer join (select count(review_num) count , avg(review_score) avg, goods_num from review group by GOODS_NUM) r
		on g.goods_num = r.goods_num
		
		where g.goods_num = #{goodsNum}
	</select>
	
	<select id = "goodsWishListselect" resultType = "goodsVO" parameterType="wishVO">
	select DISTINCt g.GOODS_NUM goodsNum, GOODS_NAME goodsName, GOODS_CONTENT goodsContent, GOODS_MAIN goodsMain, GOODS_MAIN_ORG goodsMainOrg
					, GOODS_IMAGE goodsImage, GOODS_IMAGE_ORG goodsImageOrg, DELIVERY_COST deliveryCost, MANUFACTURER manufacturer
					, VISIT_COUNT visitCount, MARKET_NUM marketNum, GOODS_KIND goodsKind
					, w.MEMBER_NUM memberNum 
					, i.goods_price goodsPrice
		  from goods g join wish w
		  on g.goods_num = w.goods_num join goods_ipgo i
		  on g.goods_num = i.goods_num
		  where w.member_num = #{memberNum}
	</select>

	<update id="visitAdd" parameterType="string">
		update goods set VISIT_COUNT = VISIT_COUNT+1
		where goods_num = #{goodsNum}
	</update>
</mapper>