<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="flobot.Mapper.MemberMapper">

<select id ="memberAllSelect" resultType="memVO" parameterType="string">
select MEMBER_NUM memberNum ,MEMBER_ID memberId,MEMBER_PW memberPw,MEMBER_NAME memberName,
	   MEMBER_ADDR memberAddr,MEMBER_ADDR2 memberAddr2, MEMBER_POST memberPost,
       MEMBER_REGI_DATE memberRegiDate,MEMBER_GENDER memberGender,MEMBER_PHONE memberPhone,
       MEMBER_EMAIL memberEmail,MEMBER_BIRTH memberBirth, MEMBER_MARRIED memberMarried
from member
<if test="memberWord != null">
where MEMBER_NUM  like '%' || #{memberWord} || '%'  
   or MEMBER_ID   like '%' || #{memberWord} || '%'  
   or MEMBER_NAME like '%' || #{memberWord} || '%'
   or MEMBER_REGI_DATE like '%' || #{memberWord} || '%'
</if>
</select>

<select id="autoNum"  resultType="string">
select concat('mem' , nvl(max(substr(member_num,4)),100000) + 1) from member
</select>

<insert id="memberInsert">
insert into member(MEMBER_NUM,MEMBER_ID,MEMBER_PW,MEMBER_NAME,MEMBER_ADDR,MEMBER_ADDR2,MEMBER_POST,
                   MEMBER_REGI_DATE,MEMBER_GENDER,MEMBER_PHONE,MEMBER_EMAIL,MEMBER_BIRTH, MEMBER_MARRIED )
values(            #{memberNum},#{memberId},#{memberPw},#{memberName},#{memberAddr},#{memberAddr2},#{memberPost},
					sysdate,#{memberGender},#{memberPhone},#{memberEmail},#{memberBirth}, #{memberMarried})
</insert>

<select id="memberOneSelect" resultType="memVO" parameterType="string">
select MEMBER_NUM memberNum ,MEMBER_ID memberId,MEMBER_PW memberPw,MEMBER_NAME memberName,
	   MEMBER_ADDR memberAddr,MEMBER_ADDR2 memberAddr2, MEMBER_POST memberPost,
       MEMBER_REGI_DATE memberRegiDate,MEMBER_GENDER memberGender,MEMBER_PHONE memberPhone,
       MEMBER_EMAIL memberEmail,MEMBER_BIRTH memberBirth, MEMBER_MARRIED memberMarried
       , MEMBER_OK memberOk
from member
where MEMBER_NUM = #{memberNum} or member_id=#{memberNum}
</select>

<update id="memberUpdate" parameterType="memVO">
	update member
set   MEMBER_NAME = #{memberName}
    , MEMBER_ADDR =#{memberAddr}
    <if test="memberAddr2 != null">
    , MEMBER_ADDR2 = #{memberAddr2}
    </if>
    , MEMBER_POST =#{memberPost}
    , MEMBER_GENDER = #{memberGender}
    , MEMBER_PHONE = #{memberPhone}
    , MEMBER_BIRTH = #{memberBirth}
    , MEMBER_MARRIED = #{memberMarried}
where MEMBER_NUM = #{memberNum}
</update>

<delete id="memberDelete" parameterType="string">
	delete from member where member_num = #{memberNum}
</delete>

<delete id="membersDelete" parameterType="string">
	delete from member
	where MEMBER_NUM in
	<foreach collection="memDels" item="memberNum" open="(" close=")" index="index" separator=",">
		#{memberNum}
	</foreach>
</delete>


</mapper>