<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flobot.Mapper.ReviewMapper">
	<select id="selectNum" resultType="string">
		select concat('rev',nvl(max(substr(review_num,4)),100000) + 1)
		from review
	</select>
	
	<insert id="reviewRegi" parameterType="reviewVO" >
		insert into review(PURCHASE_NUM,GOODS_NUM,REVIEW_NUM,REVIEW_DATE,REVIEW_CONTENT,REVIEW_SCORE)
		values(#{purchaseNum},#{goodsNum},#{reviewNum},sysdate,#{reviewContent},#{reviewScore})
	</insert>
	<select id="reviewList" parameterType="reviewVO" resultType="reviewVO">
		select r.PURCHASE_NUM purchaseNum,REVIEW_NUM reviewNum,REVIEW_DATE reviewDate
				,REVIEW_CONTENT reviewContent,REVIEW_SCORE reviewScore
				,g.goods_Name goodsName, g.goods_Main goodsMain
		from review r join purchase p 
		on r.purchase_Num = p.purchase_num join goods g
		on g.goods_num = r.goods_num
		<if test="goodsNum==null">
			where p.member_Num = #{memberNum}
		</if>
		<if test="goodsNum!=null">
			where g.goods_num = #{goodsNum}
		</if>
	</select>
	
	<select id="reviewOne" parameterType="string" resultType="reviewVO">
		select r.PURCHASE_NUM purchaseNum,REVIEW_NUM reviewNum,REVIEW_DATE reviewDate
				,REVIEW_CONTENT reviewContent,REVIEW_SCORE reviewScore
				,g.goods_Name goodsName, g.goods_Main goodsMain, goods_content goodsContent
		from review r join purchase p 
		on r.purchase_Num = p.purchase_num join goods g
		on g.goods_num = r.goods_num
		where r.review_NUm = #{reviewNum}
	</select>
	
	<update id="reviewUpdate" parameterType="reviewVO">
		update review set REVIEW_DATE=sysdate,REVIEW_CONTENT=#{reviewContent},REVIEW_SCORE=#{reviewScore}
		where review_NUM = #{reviewNum}
	</update>
	
	<delete id="reviewDelete" parameterType="string" >
		delete review where review_Num = #{reviewNum}
	</delete>
	
	<select id="goodsCount" parameterType="string">
		select count(goodsNum)
		from review
		where goodsNum = #{goodsNum}
	</select>
	
	<select id="reviewScore" parameterType="string">
		select avg(review_Score)
		from review
		where goodsNum = #{goodsNum}
	</select>
</mapper>