<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
회원 상세 페이지입니다.<br />
회원번호 : [[${memberCommand.memberNum}]]<br />
회원아이디 : [[${memberCommand.memberId}]]<br />
회원이름 :  [[${memberCommand.memberName}]]<br />
회원주소 : [[${memberCommand.memberAddr}]]<br />
회원상세주소 : [[${memberCommand.memberAddr2}]]<br />
우편번호 : [[${memberCommand.memberPost}]]<br />
성별 : <span th:if="${memberCommand.memberGender == 'M'}" >남자</span> 
	   <span th:if="${memberCommand.memberGender == 'F'}" th:text="여자"></span><br />
연락처 : [[${memberCommand.memberPhone}]]<br />
이메일 : [[${memberCommand.memberEmail}]]<br />
생년월일 : [[${#dates.format(memberCommand.memberBirth,'yyyy-MM-dd')}]]<br />
등록일 : [[${#dates.format(memberCommand.memberRegiDate,'yyyy-MM-dd')}]]<br />
결혼여부 : [[${memberCommand.memberMarried}]]<br/><br/>
	
<a th:href="|memberModify?memberNum=${memberCommand.memberNum}|">정보 수정</a> | 
<a th:href="@{memberDelete?(memberNum=${memberCommand.memberNum})}">회원 탈퇴</a> |
<a href="memberList">회원 목록</a>
</body>
</html>