<!DOCTYPE html>
<html>
<head>
<title>이미지 검색</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
 
 <style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
body{

    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    background-color: #f5f6f7;
    line-height: 1.5em;
    color : #222;
    margin: 0;
}
.member input[type=button]{
	width: 80px;
	height: 40px;
	padding: 5px;
	outline: none;
	border-radius: 10px;
	background: yellow;
	color: black;
	font-size: 15px;
	letter-spacing: 2px;
	
}

/* input[type=file]{ */
/* 	border-radius: 10px; */
/* 	background: yellow; */
/* 	color: black; */

/* } */

.search_submit input[type=submit]{
	border-radius: 10px;
	background: tomato;
	color: white;
	border: 0px;
	width: 90px;
	height: 30px;
	
	

}

.login_id input {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	margin-top: 0px;
	padding: 0px 20px;
	border: 1px solid lightgray;
	outline: none;
}

.submit input {
	border-radius: 10px;
	background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
	color: white;
	border: 0px;
	font-size: 1.2em;
	letter-spacing: 2px;
}

</style>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script type="text/javascript">

$(function(){
	$("#loginBtn").click(function(){
		if([[${session.authInfo == null}]]){
			window.open("/login/item.login","login",
					"width=600, height=600, top = 100, left=100");
		}else{
			location.href="/login/logout";
		}
	});
});

function myAccFunc(kind) {
	  var x = document.getElementById(kind);
	  if (x.className.indexOf("w3-show") == -1) {
	    x.className += " w3-show";
	  } else {
	    x.className = x.className.replace(" w3-show", "");
	  }
	}
function w3_open() {
	  document.getElementById("mySidebar").style.display = "block";
	  document.getElementById("myOverlay").style.display = "block";
	}
	 
	function w3_close() {
	  document.getElementById("mySidebar").style.display = "none";
	  document.getElementById("myOverlay").style.display = "none";
	}
function setThumbnail(event) {
	for (var image of event.target.files) {
	  var reader = new FileReader();
	
	  reader.onload = function(event) {
	    var img = document.createElement("img");
	    img.setAttribute("src", event.target.result);
	    document.querySelector("div#image_container").appendChild(img);
	  };
	
	  console.log(image);
	  reader.readAsDataURL(image);
	}
}
</script>
</head>
<body>

<div class="container">
			<br />
			<ul class="nav justify-content-end">
				<div class="login_id">
					<input type="text" name="keyword" th:value="${keyword}" id="search"
						style="width: 300px; height: 35px" />
				</div>
				<div class="submit">
					<input type="submit" value="검색" style="height: 35px" />
				</div>
				<a href="/search/image"><img src="/static/image/smartphone.png"
					width="35"></a>
				<li class="nav-item"><span th:if="${session.authInfo == null}"><p id="loginBtn" class="w3-bar-item w3-button" style="color: black">로그인</p>
									</span> <span th:if="${session.authInfo != null}"><p id="loginBtn" class="w3-bar-item w3-button" style="color: black">로그아웃</p> </span></li>
				<th:block th:if="${session.authInfo == null}">
					<li class="nav-item"><a class="w3-bar-item w3-button" style="color: black" href="#" id="cart">장바구니</a></li>
					<li class="nav-item"><a class="w3-bar-item w3-button" style="color: black" href="/register/agree">회원가입</a></li>
					<li class="nav-item"><a class="w3-bar-item w3-button" style="color: black" href="/market/marketInsert">입점신청</a></li>
				</th:block>
				<th:block th:if="${session.authInfo != null}">
					<th:block
						th:if="${session.authInfo.grade == 'mem' or session.authInfo.grade == 'a'}">
						<li class="nav-item"><a class="w3-bar-item w3-button" style="color: black" href="#" id="cart">장바구니</a></li>
						<li class="nav-item"><a class="w3-bar-item w3-button" style="color: black" href="/register/memberDetail">내 정보보기</a></li>
						<li class="nav-item"><a class="w3-bar-item w3-button" style="color: black" href="/purchase/orderList">주문내역</a></li>
					</th:block>
				</th:block>
			</ul>
		</div>
	</form>
	<div class="container" align="center">
		<th:block th:if="${session.authInfo != null}">
			<th:block th:if="${session.authInfo.grade == 'mem' or session.authInfo.grade == 'a'}">
			</th:block>
			<th:block th:if="${session.authInfo.grade == 'mar'}">
				<div class="container">
					<ul class="nav justify-content-end">
						<li class="nav-item"><a class="w3-bar-item w3-button" style="color: black" href="/market/marketInfo">내 마켓보기</a></li>
						<li class="nav-item"><a class="w3-bar-item w3-button" style="color: black" href="goods/goodsList">내 상품목록</a></li>
						<li class="nav-item"><a class="w3-bar-item w3-button" style="color: black" href="goods/goodsRegi">상품등록</a></li>
						<li class="nav-item"><a class="w3-bar-item w3-button" style="color: black" href="/purchase/marketPurchaseList">주문목록</a></li>
						<li class="nav-item"><a class="w3-bar-item w3-button" style="color: black" href="/inquire/MarketInquireList">문의목록</a></li>
					</ul>
				</div>
			</th:block>
			<th:block th:if="${session.authInfo.grade == 'a'}">
				<a href="admin/adminPage">관리자 전용 페이지</a>
			</th:block>
		</th:block>
	</div>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px;display:block" id="mySidebar"  > 
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><a href = "/" style = "color: black"><b>Flobot</b></a></h3> 
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
  <a onclick="myAccFunc('flower')" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
    꽃 <i class="fa fa-caret-down"></i> 
    </a>
    <div id="flower" class="w3-bar-block w3-hide w3-padding-large w3-medium">
    	<a href="/search/goodsSearch?keyword=flower"><input type="button" value="꽃1" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=장미"><input type="button" value="꽃2" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=튤립"><input type="button" value="꽃3" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=하얀"><input type="button" value="꽃4" class="w3-bar-item w3-button"></a>
    </div>
    <a onclick="myAccFunc('hub')" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
    허브 <i class="fa fa-caret-down"></i> 
    </a>
    <div id="hub" class="w3-bar-block w3-hide w3-padding-large w3-medium">
    	<a href="/search/goodsSearch?keyword=herb"><input type="button" value="허브1" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=민트"><input type="button" value="허브2" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=로즈"><input type="button" value="허브3" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=허브"><input type="button" value="허브4" class="w3-bar-item w3-button"></a>
    </div>
    <a onclick="myAccFunc('da62')" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
      다육이 <i class="fa fa-caret-down"></i> 
    </a>
    <div id="da62" class="w3-bar-block w3-hide w3-padding-large w3-medium">
   		<a href="/search/goodsSearch?keyword=fleshy"><input type="button" value="다육이1" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=다육"><input type="button" value="다육이2" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=이상"><input type="button" value="다육이3" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=세트"><input type="button" value="다육이4" class="w3-bar-item w3-button"></a>
    </div>
    <a onclick="myAccFunc('tree')" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
      나무 <i class="fa fa-caret-down"></i> 
    </a>
    <div id="tree" class="w3-bar-block w3-hide w3-padding-large w3-medium">
    	<a href="/search/goodsSearch?keyword=tree"><input type="button" value="나무1" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=나무"><input type="button" value="나무2" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=소"><input type="button" value="나무3" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=은행"><input type="button" value="나무4" class="w3-bar-item w3-button"></a>
    </div>
    <a onclick="myAccFunc('seed')" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
      씨앗 <i class="fa fa-caret-down"></i> 
    </a>
    <div id="seed" class="w3-bar-block w3-hide w3-padding-large w3-medium">
    	<a href="/search/goodsSearch?keyword=seed"><input type="button" value="씨앗1" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=씨"><input type="button" value="씨앗2" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=해바"><input type="button" value="씨앗3" class="w3-bar-item w3-button"></a>
    	<a href="/search/goodsSearch?keyword=배추"><input type="button" value="씨앗4" class="w3-bar-item w3-button"></a>
    </div>
  </div>
</nav>


<br/>
<div align="center">
<form action="image" method="post" enctype="multipart/form-data"> 
이름을 알고싶은 꽃 사진을 업로드 해주세요 <br/><br/>
<div id="image_container"></div>
<br/><br/>
<div class="search_submit">
<input type="file" name="searchImg"  id="image" accept="image/*" onchange="setThumbnail(event);" multiple//>
<input type="submit" value="검색" />
</div>
</form>
</div>
</body>
</html>